<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Livro - LitReview</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/maisInformacoes.css">
</head>
<body>
    <div class="overlay"></div> <!-- Adicionando a sobreposição para cobrir toda a tela -->
    <div class="container">
        <%- include('./partials/head') %>
        
        <% for (let item of resposta.items) {
            const livro = item.volumeInfo;

            let autores = "";
            if (livro.authors) {
                let cont = livro.authors.length - 2;
                let i = 0;
                while (i < livro.authors.length) {
                    autores += livro.authors[i];
                    if (cont == i) {
                        autores += ' & ';
                    } else if (i < livro.authors.length - 1) {
                        autores += ', ';
                    } else {
                        autores += '.';
                    }
                    i++;
                }
            }

            let genero = "";
            if (livro.categories) {
                let controle = livro.categories.length - 2;
                let genCont = 0;
                for (let gen of livro.categories) {
                    genero += livro.categories[genCont];
                    if (controle == genCont) {
                        genero += ' & ';
                    } else if (genCont < livro.categories.length - 1) {
                        genero += ', ';
                    } else {
                        genero += '.';
                    }
                    genCont++;
                }
            }
        %>
            <div class="livro">
                <img src="<%= livro.imageLinks ? livro.imageLinks.thumbnail : '/css/img/transparent.png' %>" alt="Capa do livro">
                <p><strong>Título: </strong> <%= livro.title %></p>
                <p><strong>Autores: </strong> <%= autores %></p>
                <p><strong>Gênero: </strong> <%= genero %></p>
                <p><strong>Resumo: </strong><%= livro.description %></p>
                <% let ident =""
                if (livro.industryIdentifiers) {
                    for (let isbn of livro.industryIdentifiers) { 
                        ident = isbn.identifier;%>
                        <p><strong><%= isbn.type %>:</strong> <%= isbn.identifier %></p>
                    <% } 
                } %>
                
                <div class="button-group">
                    <% if (typeof adicionado !== 'undefined' && adicionado) { %>
                        <p>FOI ADICIONADO A LISTA COM SUCESSO :D</p>
                    <% } else { %>
                            <button type="submit" class="secondary" id="addToListButton">Adicionar à minha lista</button>
                    <% } %>

                    <form action="/novaAvaliacao/<%=ident%>" method="POST" >
                        <button type="submit" class="secondary" id="addToListButton2">Adicionar Avaliação</button>
                    </form>
                 
                </div>
                <!-- Formulário oculto para capturar o e-mail -->
                <div id="emailFormContainer" style="display: none;">
                    <form action="/adicionaNaLista/<%=ident%>" method="POST">
                        <label for="email">Confirme seu e-mail:</label>
                        <input type="email" id="email" name="email" required>
                        <button type="submit">Confirmar e Adicionar</button>
                    </form>
                </div> 
            
            </div>
            <div>
                <h2>Avaliações do livro</h2>
                <ul>
                    <% if (Array.isArray(avaliacoes) && avaliacoes.length > 0) { %>
                        <% for (let avaliacao of avaliacoes) { %>
                            <li>
                               Usuário: <%= avaliacao.email %></a>
                               <p>Recomenta? <b>
                                <%const recomenda = avaliacao.recomenda
                                if(recomenda){%>
                                    <ul>Sim</ul>
                               <% }else { %>
                                <ul>Não</ul>
                                <% } %>
                            </b></p>
                        <p>Comentário: <b>
                                <%=avaliacao.comentario%>
                            </b></p>
                            </li>
                        <% } %>
                    <% } else { %>
                        <p>AINDA NÃO HÁ AVALIAÇÕES</p>
                    <% } %>
                </ul>
            </div>
            <div class="voltar">
                    <button onclick="window.location.href='/principal'" type="submit">Voltar</button>
                </form>
            </div>
        <% } %>

        <%- include('./partials/footer') %>
    </div>

    <script>
        // Mostrar o formulário de e-mail quando o botão "Adicionar à minha lista" for clicado
        document.getElementById("addToListButton").addEventListener("click", function(event) {
            event.preventDefault(); // Prevenir o envio do formulário
            document.getElementById("emailFormContainer").style.display = "block"; // Mostrar o formulário
        });

    </script>
</body>
</html>
