<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do livro <%=livro.titulo%></title>
</head>
<body>
    <h2><%=livro.titulo%></h2>
    <p> <b><%=livro.capa%></b></p>
    <p>Gêneros: <b><%=livro.genero1%>, <%=livro.genero2%>, <%=livro.genero3%> </b></p>
    <p>Resumo: <b><%=livro.resumo%></b></p>
    <br>
    <a href="/livro/<%=livro._id%>/edit"><button>Alterar</button></a>
    <br><br>
    <form action="/livro/<%=livro.id%>?_method=DELETE" method="post">
        <button>Apagar</button>
    </form>
    <br><br>
    <a href="/principal"><button>Voltar</button></a>
</body>
</html>