<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suas Avaliações</title>
    <link rel="stylesheet" href="/css/suasAvaliacoesELista.css">
</head>
<%- include('./partials/head') %>
<body>
    <div class="overlay"></div> 
    <div class="container">
        <h2 class="title">Suas Avaliações</h2>
        <ul>
            <% for (let avaliacao of avaliacoes) { %>
                <li>
                    <a href="/avaliacao/<%=avaliacao._id %>" class="link-avaliacao">
                        <%= avaliacao.titulo %>
                    </a>
                    <a href="/editAvaliacao/<%=avaliacao._id %>">
                        <button class="edit-button">Editar a avaliação</button>
                    </a>
                </li>
            <% } %>
        </ul>
    </div>
   
    <%- include('./partials/footer') %>